/*
    Page

*/
html,
body {
  font-family: 'Open Sans', sans-serif;
  color: #28292b;
}
.site-page {
  position: relative;
  border: 14px solid #ffffff;
}
.page-header {
  position: absolute;
  z-index: 980;
  left: 0;
  right: 0;
}
/*
    Elements
*/
.uk-card {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
/*
    Typography
*/
h1,
.uk-h1,
h2,
.uk-h2,
h3,
.uk-h3,
h4,
.uk-h4,
h5,
.uk-h5,
h6,
.uk-h6 {
  color: #28292b;
  font-family: 'Open Sans', sans-serif;
}
.text-go-white {
  color: #fff !important;
}
/*
    Navigation
*/
.uk-light .uk-navbar-nav > li.uk-active > a {
  color: #28292b;
}
.uk-light .uk-navbar-nav > li > a {
  white-space: nowrap;
}
.uk-navbar-nav > li > a::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  bottom: 50%;
  height: 1px;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  transition-property: background-color, border-color, box-shadow, height, right;
  left: 26px;
  right: calc(76%);
}
.uk-light .uk-navbar-nav > li.uk-active > a::before {
  right: 26px;
  background-color: #28292b;
}
.navbar .brand,
.navbar .nav > li > a,
.navbar-search,
.uk-navbar-item,
.uk-navbar-nav > li > a,
.uk-navbar-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 100px;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 700;
  font-family: inherit;
  text-decoration: none;
}
.uk-light .uk-navbar-nav > li > a {
  color: #28292b;
  transition: 0.2s ease-in-out;
  transition-property: color, background-color, border-color, box-shadow;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
}
.uk-light .uk-navbar-nav > li:hover > a::before,
.uk-light .uk-navbar-nav > li > a.uk-open::before,
.uk-light .uk-navbar-nav > li > a:focus::before {
  right: 26px;
  background-color: #28292b;
}
.uk-light .uk-navbar-nav > li:hover > a {
  color: #28292b;
}
